/*Variables*/
$color-bg: #FFFFFF;
$color-item-bg: #FAFAFA;

$color-border-head-top: #296CAF;
$color-border-head-bottom: #CCCCCC;
$color-border-div: #808080;
$color-font-text: #808080;
$color-font-title: #2A73b7;
$color-font-link: #2A73b7;
$color-icon: #2A73b7;
$color-menu-shadow: #CCCCCC;
$color-modal-btn-bg: #2A73b7;
$color-modal-btn-text: #FFFFFF;
$color-modal-title: #2A73b7;
$color-field-invalid: #a94442;
$color-field-valid: #3c763d;

$font-light: Roboto-Light;
$font-regular: Roboto-Regular;
$font-weight: 500;

/*Fonts */
@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

/*Basics*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: $color-bg;
  height: 100%;
}

body, p {
  color: $color-font-text;
  font-family: $font-regular;
  font-weight: $font-weight;
  line-height: 1em;
  font-size: 10pt;
}

input, select, textarea {
  color: $color-font-text;
  font-family: $font-regular;
  font-size: 10pt;
  font-weight: $font-weight;
  line-height: 1.55em;
}

h1 {
  font-family: $font-light;
  color: $color-font-title;
  margin-bottom: 0.5em;
  font-size: 16pt;
  line-height: 1em;
}

h2 {
  font-family: $font-light;
  color: $color-font-title;
  font-size: 12pt;
  margin-bottom: 1em;
  line-height: 1em;
}

h3 {
  font-family: $font-light;
  color: $color-font-title;
  font-size: 10pt;
  margin-bottom: 0.3em;
  line-height: 1em;
}

p {
  margin: 0 0 1em;
  text-align: left;
  font-family: $font-light;
  line-height: 1em;
}

a {
  color: $color-font-link;
  font-size: 10pt;
  text-decoration: none;
}

img {
  border: 0;
}

/*Custom*/
.app {
  display: flex;
  justify-content: center;
}

#header {
  position: fixed;
  display: flex;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background: $color-bg;
  border-top: 4px solid $color-border-head-top;
  box-shadow: 0 1px 4px $color-border-head-bottom;
  -moz-box-shadow: 0 1px 4px $color-border-head-bottom;
  -webkit-box-shadow: 0 1px 4px $color-border-head-bottom;

  .titleWrap {
    flex-grow: 1;
    white-space: nowrap;
    padding: 0 10px;
  }
  .title {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 0.5em;
    vertical-align: text-bottom;
    line-height: 1.5em;
  }
  .logo {
    height: 32px;
    width: 32px;
    vertical-align: sub;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .userMenu {
    align-self: center;
    white-space: nowrap;
    text-align: right;
    padding: 0 10px;
    border-left: 1px dashed $color-border-head-bottom;

    i {
      font-size: 1.5em;
    }
  }
}

/*Grid*/
.flex-grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .col {
    flex-basis: 150px;
  }
  .col-sm {
    flex-basis: 100px;
  }
}

.btn {
  background-color: $color-modal-btn-bg;
  color: $color-modal-btn-text;
  font-family: $font-regular;
  font-size: 1em;
  font-weight: 500;
  line-height: 2em;
  border: medium none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: none;
  padding: 0;
  width: 50px;
  display: inline-block;
}

/*Content*/
.content {
  width: 100%;
  margin: 6em 1em 1em;

  /*Admin View*/
  .adminView, .homeView {
    .addHotelForm {
      border-bottom: 1px dotted $color-border-head-bottom;
      margin-bottom: 1em;
      padding-bottom: 1em;

      .fieldsContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .fieldWrap {
          flex-basis: 150px;
          margin-bottom: 0.5em;
          padding: 5px;

          label {
            font-family: $font-light;
            font-size: 0.9em;
            display: block;
            text-align: left;
          }

          input, select {
            border-width: 1px;
            border-style: solid;
            border-color: $color-border-head-bottom;
            background-color: $color-bg;
            font-family: $font-light;
            font-size: 0.9em;
            padding: 3px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            box-sizing: border-box;
            width: 100%;

            &.invalid {
              border: 1px solid $color-field-invalid;
              background: url(../img/icons/icn_exclamation_circle_fill_red.svg) no-repeat scroll 4px 4px;
              background-position: right;
              background-size: 14px;
            }
          }
          select {
            padding: 4px;
          }
        }
      }
    }

    .hotelList {
      .hotelContainer {
        background-color: $color-bg;
        box-shadow: 0 1px 4px $color-border-head-bottom;
        -moz-box-shadow: 0 1px 4px $color-border-head-bottom;
        -webkit-box-shadow: 0 1px 4px $color-border-head-bottom;
        border-radius: 3px;
        padding: 1.5em;
        margin-bottom: 1em;
        position: relative;

        .btn-sm {
          background-color: $color-font-title;

          border: 0px solid $color-font-title;
          color: $color-bg;
          padding: 3px;
          line-height: 10px;
          font-weight: bold;

          &:hover {
            color: $color-font-title;
            background-color: $color-bg;
            border: 1px solid $color-font-title;
            cursor: pointer;
          }
          &:focus {
            border: none;
          }

          &.btnClose {
            border-radius: 50%;
            position: absolute;
            right: -5px;
            top: -5px;

            &:after {
              content: '×';
            }
          }

          &.btnMoreInfo {
            position: absolute;
            bottom: -10px;
            right: 45%;
            padding: 5px;
            font-size: 12px;
            border-radius: 2px;

            &:after {
              content: '+';
            }
          }
        }
        h3 {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        span {
          color: $color-font-text;
          word-break: break-all;
          font-size: 0.8em;
        }
        .featuresContainer {
          flex-grow: 2;

          .features {
            height: 100%;
            flex-basis: 50px;
            flex-wrap: nowrap;
            justify-content: space-between;

            .infoContainer {
              height: 100%;
              flex-grow: 3;

              .price {
                font-weight: bold;
              }
            }
            .bookingContainer {

              display: flex;
              flex-direction: column;
              flex-wrap: initial;

              justify-content: space-between;
              height: 100%;

              .btnDetail {
                width: 100%;
                cursor: pointer;
              }
              .rating {
                background-color: $color-border-head-top;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
                text-align: center;
                color: $color-bg;
                font-weight: bold;
                font-size: 16px;
              }
            }
          }
        }
        .moreFeatures {
          width: 100%;
          margin-top: 1em;
        }
        .imageContainer {
          text-align: left;
          margin-right: 1em;

          img {
            display: inline-flex;
            max-width: 100%;
          }
        }
      }
    }

  }

}

/********************************************************************************/
/*MEDIA QUERIES
/********************************************************************************/
@media all and (max-width: 645px) {

  h2 {
    font-size: 11pt;
  }
  .fieldsContainer {
    display: block;
    .fieldWrap {
      width: 100%;
      flex-basis: unset;
    }
  }

  #header {
    padding: 0.5em;

    .title {
      font-size: 1.1em;
    }
    .logo {
      height: 1.5em;
      width: 1.5em;
    }
    .userMenu {
      span {
        display: none;
      }
    }
  }
  .content {
    margin-top: 4em;

    p, input, select, textarea, a {
      font-size: 8pt;
    }
  }
}

@media all and (max-width: 400px) {
  .flex-grid {
    display: block;
    .col, .col-sm {
      width: 100%;
      margin: 0 0 10px 0;
      flex-basis: unset;
      .imageContainer {
        margin-right: 0;
      }
      .rating {
        margin-bottom: 10px !important;
      }
      img {
        width: 100%;
        max-height: unset;
      }
    }

  }
  .fieldsContainer {
    display: block !important;

    .fieldWrap {
      width: 100%;
      flex-basis: unset;
    }
  }
}